<div id="primary-menu-wrapper">
	<div id="primary-menu" class="group-menu">
		<div class="wrapper">
			<div class="divtable">
				<div class="fl">
					<ul>
						<li class="current">
							<a href="" target="_self"><span><i class="fa fa-home"></i></span></a>
						</li>
						<li>
							<a href=""  target="_self">
								<img class='menu_icon' src='uploads/weblink/Icon_Maylanh_1.png' alt='Máy lạnh'/>
								<span>Máy lạnh</span>
							</a>
							<ul class="submenu">
								<li>
									<a href="/" target="_self">
										<span>Công suất</span>
									</a>
									<ul class="submenu">
										<li>
											<a href="" target="_self"><span>Máy lạnh 1 ngựa (1HP)</span></a>
										</li>
										<li>
											<a href="" target="_self"><span>Máy lạnh 1.5 ngựa</span></a>
										</li>
										<li>
											<a href="" target="_self"><span>Máy lạnh 2 ngựa (2HP)</span></a>
										</li>
										<li>
											<a href="" target="_self"><span>Máy lạnh 2.5 Ngựa (2,5HP)</span></a>
										</li>
										<li>
											<a href="" target="_self"><span>Máy lạnh 3 ngựa (3HP)</span></a>
										</li>
										<li>
											<a href="" target="_self"><span>Máy lạnh 3.5 Ngựa</span></a>
										</li>
										<li>
											<a href="" target="_self"><span>Máy lạnh 4 Ngựa (4HP)</span></a>
										</li>
										<li>
											<a href="" target="_self"><span>Máy lạnh 4.5 HP (4.5 ngựa)</span></a>
										</li>
										<li>
											<a href="" target="_self"><span>Máy lạnh 5.0 HP (5.0 ngựa)</span></a>
										</li>
										<li>
											<a href="" target="_self"><span>Máy lạnh 6.0 HP (6.0 ngựa)</span></a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="" target="_self"><img class='menu_icon' src='uploads/weblink/Icon_Maygiat_1.png' alt='Máy giặt'/><span>Máy giặt</span></a>
						</li>
						<li>
							<a href="" target="_self"><img class='menu_icon' src='uploads/weblink/Icon_Tulanh_1.png' alt='Tủ lạnh'/><span>Tủ lạnh</span></a>
						</li>
						<li>
							<a href="" target="_self"><img class='menu_icon' src='uploads/weblink/may_lam_mat_icon.png' alt='Máy làm mát'/><span>Máy làm mát</span></a>
						</li>
						<li>
							<a href="" target="_self"><img class='menu_icon' src='uploads/weblink/may_loc_khi_icon.png' alt='Máy Lọc Khí'/><span>Máy Lọc Khí</span></a>
						</li>
						<li>
							<a href="" target="_self"><img class='menu_icon' src='uploads/weblink/Icon_TV_1.png' alt='TIVI'/><span>TIVI</span></a>
						</li>
						<li>
							<a href="" target="_self"><img class='menu_icon' src='uploads/weblink/Icon_Baogia_1.png' alt='Bảng giá'/><span>Bảng giá</span></a>
						</li>
					</ul>
				</div>
				<div class="box_lang">
					<a href="#" class='current hide'>
						<img src="uploads/lang/flag_vn.png" alt="Tiếng Việt"/><span class="hide">Tiếng Việt</span>
					</a>
					<a href="en.html">
						<img src="uploads/lang/flag_en.png"  alt="English" /><span class="hide">English</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<form action="" method="get" id="formSearch">
		<div id="boxMenuSub" class="menu-sub open" style="display:block;">
			<div class="wrapper">
				<label>Tìm kiếm nhanh:</label>
				<ul>
					<li id="boxListBrand" class="dropdown col2">
						<a href="#" data-toggle="dropdown">Thương hiệu</a>
						<ul class='dropdown-menu'>
							<li class='item-search' data-id='1'>
								<a href='' style='color:#00A0E4'>Daikin</a>
							</li>
							<li class='item-search' data-id='2'>
								<a href='' style='color:#005AA7'>Panasonic</a>
							</li>
							<li class='item-search' data-id='7'>
								<a href='' style='color:#E6000D'>Sharp</a>
							</li>
							<li class='item-search' data-id='3'>
								<a href='' style='color:#E62F31'>Toshiba</a>
							</li>
							<li class='item-search' data-id='4'>
								<a href='' style='color:#eb1a1b'>Mitsubishi Electric</a>
							</li>
							<li class='item-search' data-id='5'>
								<a href='' style='color:#f21313'>Mitsubishi Heavy</a>
							</li>
							<li class='item-search' data-id='8'>
								<a href='' style='color:#A30230'>LG</a>
							</li>
							<li class='item-search' data-id='13'>
								<a href='' style='color:#0B4CA1'>Samsung</a>
							</li>
							<li class='item-search' data-id='9'>
								<a href='' style='color:#004088'>Reetech</a>
							</li>
							<li class='item-search' data-id='6'>
								<a href='' style='color:#0162A5'>Aqua</a>
							</li>
							<li class='item-search' data-id='10'>
								<a href='' style='color:#020298'>Carrier</a>
							</li>
							<li class='item-search' data-id='15'>
								<a href='' style='color:#008BD6'>Sumikura</a>
							</li>
							<li class='item-search' data-id='18'>
								<a href='' style='color:#3493AC'>Casper</a>
							</li>
							<li class='item-search' data-id='16'>
								<a href='' style='color:#00A2E9'>Midea</a>
							</li>
							<li class='item-search' data-id='11'>
								<a href='' >Hitachi</a>
							</li>
							<li class='item-search' data-id='14'>
								<a href='' style='color:#2A8ECF'>Funiki</a>
							</li>
							<li class='item-search' data-id='12'>
								<a href='' >Electrolux</a>
							</li>
							<li class='item-search' data-id='17'>
								<a href='' style='color:#DA2027'>Nagakawa</a>
							</li>
							<li class='item-search' data-id='20'>
								<a href='' style='color:#f70c0c'>General</a>
							</li>
						</ul>
						</li>
						<li id="boxListCat" class="dropdown col1">
							<a href="#" data-toggle="dropdown">Chủng loại</a>
							<ul class='dropdown-menu'>
								<li class='item-search' data-id='9'>
									<a href=''>Giá tốt cho mùa hè</a>
								</li>
								<li class='item-search' data-id='1'>
									<a href=''>Treo tường</a>
								</li>
								<li class='item-search' data-id='3'>
									<a href=''>Tủ đứng</a>
								</li>
								<li class='item-search' data-id='2'>
									<a href=''>Âm trần</a>
								</li>
								<li class='item-search' data-id='4'>
									<a href=''>Áp trần</a>
								</li>
								<li class='item-search' data-id='8'>
									<a href=''>Giấu trần ống gió</a>
								</li>
								<li class='item-search' data-id='7'>
									<a href=''>Hệ thống điều hòa Multi</a>
								</li>
								<li class='item-search' data-id='5'>
									<a href=''>Hệ thống điều hòa VRV</a>
								</li>
							</ul>
						</li>
						<li id="boxListPower" class="dropdown col3">
							<a href="#" data-toggle="dropdown">Công suất</a>
							<ul class='dropdown-menu'>
								<li class='item-search' data-id='1'>
									<a href=''>1.0 Hp</a>
								</li>
								<li class='item-search' data-id='2'>
									<a href=''>1.5 Hp</a>
								</li>
								<li class='item-search' data-id='27'>
									<a href=''>1.8 Hp</a>
								</li>
								<li class='item-search' data-id='3'>
									<a href=''>2.0 Hp</a>
								</li>
								<li class='item-search' data-id='4'>
									<a href=''>2.5 Hp</a>
								</li>
								<li class='item-search' data-id='5'>
									<a href=''>3.0 Hp</a>
								</li>
								<li class='item-search' data-id='6'>
									<a href=''>3.5 Hp</a>
								</li>
								<li class='item-search' data-id='7'>
									<a href=''>4.0 Hp</a>
								</li>
								<li class='item-search' data-id='8'>
									<a href=''>4.5 Hp</a>
								</li>
								<li class='item-search' data-id='9'>
									<a href=''>5.0 Hp</a>
								</li>
								<li class='item-search' data-id='13'>
									<a href=''>5.5 Hp</a>
								</li>
								<li class='item-search' data-id='10'>
									<a href=''>6.0 Hp</a>
								</li>
								<li class='item-search' data-id='14'>
									<a href=''>6.5 Hp</a>
								</li>
								<li class='item-search' data-id='11'>
									<a href=''>7.0 Hp</a>
								</li>
								<li class='item-search' data-id='15'>
									<a href=''>8.0 Hp</a>
								</li>
								<li class='item-search' data-id='16'>
									<a href=''>10 Hp</a>
								</li>
								<li class='item-search' data-id='25'>
									<a href=''>9.0 Hp</a>
								</li>
								<li class='item-search' data-id='17'>
									<a href=''>11.0 Hp</a>
								</li>
								<li class='item-search' data-id='18'>
									<a href=''>12.0 Hp</a>
								</li>
								<li class='item-search' data-id='19'>
									<a href=''>13.0 Hp</a>
								</li>
								<li class='item-search' data-id='20'>
									<a href=''>13.5 Hp</a>
								</li>
								<li class='item-search' data-id='21'>
									<a href=''>14.0 Hp</a>
								</li>
								<li class='item-search' data-id='22'>
									<a href=''>15.0 Hp</a>
								</li>
								<li class='item-search' data-id='23'>
									<a href=''>18.0 Hp</a>
								</li>
								<li class='item-search' data-id='24'>
									<a href=''>20.0 Hp</a>
								</li>
							</ul>
						</li>
						<li id="boxListType" class="dropdown col1">
							<a href="#" data-toggle="dropdown">Loại máy</a>
							<ul class='dropdown-menu'>
								<li class='item-search' data-id='1'>
									<a href=''>Máy lạnh giá rẻ (không inverter)</a>
								</li>
								<li class='item-search' data-id='2'>
									<a href=''>Máy lạnh tiết kiệm điện (inverter)</a>
								</li>
							</ul>
						</li>
						<li id="boxListPrice" class="dropdown col1">
							<a href="#" data-toggle="dropdown">Khoảng giá</a>
							<ul class='dropdown-menu'>
								<li class='item-search' data-id='4000000-7000000'>
									<a href=''>4.tr - 7.tr</a>
								</li>
								<li class='item-search' data-id='7000000-10000000'>
									<a href=''>7.tr - 10.tr</a>
								</li>
								<li class='item-search' data-id='10000000-15000000'>
									<a href=''>10.tr - 15.tr</a>
								</li>
								<li class='item-search' data-id='15000000-20000000'>
									<a href=''>15.tr - 20.tr</a>
								</li>
								<li class='item-search' data-id='20000000-50000000'>
									<a href=''>20.tr - 50.tr</a>
								</li>
								<li class='item-search' data-id='50000000-max'>
									<a href=''>Trên 50.tr</a>
								</li>
							</ul>
						</li>
						<li id="boxListUtilities" class="dropdown col1">
							<a href="#" data-toggle="dropdown">Tiện ích</a>
							<ul class='dropdown-menu'>
								<li class='item-search' data-id='116'>
									<a href=''>Mắt thần thông minh cảm biến hồng ngoại</a>
								</li>
								<li class='item-search' data-id='117'>
									<a href=''>Chế độ đảo gió theo 4 hướng (lên, xuống, trái, phải)</a>
								</li>
								<li class='item-search' data-id='118'>
									<a href=''>Chức năng tạo ion, nanoe G, lọc khí, khử mùi, kháng khuẩn</a>
								</li>
								<li class='item-search' data-id='119'>
									<a href=''>Hoạt động êm</a>
								</li>
								<li class='item-search' data-id='120'>
									<a href=''>Lưới lọc bụi khử mùi, diệt khuẩn</a>
								</li>
							</ul>
						</li>
					</ul>
					<a href="#" class="clearfilter last hide">Xem tất cả</a>
				</div>
			</div>
			<input type="hidden" name="brand" value="" />
			<input type="hidden" name="cat" value="" />
			<input type="hidden" name="power" value="" />
			<input type="hidden" name="type" value="" />
			<input type="hidden" name="price" value="" />
			<input type="hidden" name="utility" value="" />
			<input type="hidden" name="keyword" value="" />
			<input type="hidden" name="sort" value="price_asc" />
		</form>
	</div>