<div id='slide-banner'>
	<div class='wrapper'>
		<div class='fl'>

			<div class='item' data-hour='12'>
				<a class='' href='' target='_self' title='Chỉ bán máy lạnh chính hãng'>
					<img  src='uploads/weblink/banner_chi_ban_may_lanh_chinh_hang_07_4.jpg' width='385' alt='Chỉ bán máy lạnh chính hãng' onclick='APP.clickBanner(265);'/>
				</a>
			</div>
			
		</div>
		<div class='fr'>
			<div class='group-item'>
				<div class='item' data-hour='12'>
					<a class='' href='' target='_self' title='Máy lạnh treo tường'  >
						<img src='uploads/weblink/1_banner_may_lanh_treo_tuong_01_1.jpg' width='440' alt='Máy lạnh treo tường' onclick='APP.clickBanner(121);'/>
					</a>
				</div>

				<div class='item' data-hour='12'>
					<a class='' href='' target='_self' title='Máy lạnh tủ đứng'  >
						<img  src='uploads/weblink/2_banner_may_lanh_tu_dung_01.jpg' width='440' alt='Máy lạnh tủ đứng' onclick='APP.clickBanner(122);'/>
					</a>
				</div>

				<div class='item' data-hour='12'>
					<a class='' href='' target='_self' title='Máy lạnh âm trần'  >
						<img  src='uploads/weblink/3_banner_may_lanh_am_tran_01.jpg' width='440' alt='Máy lạnh âm trần' onclick='APP.clickBanner(123);'/>
					</a>
				</div>

				<div class='item' data-hour='12'>
					<a class='' href='' target='_blank' title='Máy lạnh áp trần'  >
						<img  src='uploads/weblink/4_banner_may_lanh_ap_tran_01.jpg' width='440' alt='Máy lạnh áp trần' onclick='APP.clickBanner(124);'/>
					</a>
				</div>

				<div class='item' data-hour='12'>
					<a class='' href='' target='_self' title='Hệ thống lạnh Multi'  >
						<img  src='uploads/weblink/5_banner_he_thong_multi_01.jpg' width='440' alt='Hệ thống lạnh Multi' onclick='APP.clickBanner(126);'/>
					</a>
				</div>

				<div class='item' data-hour='12'>
					<a class='' href='' target='_self' title='Hệ thống lạnh VRV'  >
						<img  src='uploads/weblink/6_banner_he_thong_VRV_01_1.jpg' width='1040' alt='Hệ thống lạnh VRV' onclick='APP.clickBanner(125);'/>
					</a>
				</div>

				<div class='item' data-hour='12'>
					<a class='' href='' target='_self' title='Máy giặt'  >
						<img  src='uploads/weblink/7_banner_may_giat_01_01.jpg' width='440' alt='Máy giặt' onclick='APP.clickBanner(238);'/>
					</a>
				</div>

				<div class='item' data-hour='12'>
					<a class='' href='' target='_self' title='Máy làm mát'  >
						<img  src='uploads/weblink/8_banner_may_lam_mat_01.jpg' width='440' alt='Máy làm mát' onclick='APP.clickBanner(128);'/>
					</a>
				</div>

				<div class='item' data-hour='12'>
					<a class='' href='tivi.html' target='_self' title='Tivi'  >
						<img  src='uploads/weblink/9_banner_tivi_01.jpg' width='190' alt='Tivi' onclick='APP.clickBanner(258);'/>
					</a>
				</div>

				<div class='item' data-hour='12'>
					<a class='' href='' target='_self' title='Tủ lạnh'  >
						<img  src='uploads/weblink/10_banner_tu_lanh_01.jpg' width='440' alt='Tủ lạnh' onclick='APP.clickBanner(240);'/>
					</a>
				</div>
			</div>
		</div>
		<div class='clear'></div>
	</div>
</div>