<script async src="https://www.googletagmanager.com/gtag/js?id=UA-55946173-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-55946173-1');
</script>

<link href='index.html' rel='alternate' hreflang='vi' />
<link href='en.html' rel='alternate' hreflang='en' />
<meta property="fb:app_id" content="1560714160626996" />
<base >
<link rel="SHORTCUT ICON" href="uploads/Image/anh_favi.png" type="image/x-icon"/>
<link rel="icon" href="uploads/Image/anh_favi.png" type="image/gif"/>
<link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="vendors/slideSlick/css/slick.css" type="text/css" rel="stylesheet"/>
<link href="vendors/slideSlick/css/slick-theme.css" type="text/css" rel="stylesheet"/>
<link href="vendors/owl.carousel/css/owl.carousel.css" type="text/css" rel="stylesheet"/>
<link href="vendors/fancybox/jquery.fancybox.css" type="text/css" rel="stylesheet"/>
<link href="css/screen.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate.min.js"></script>
<script type="text/javascript" src="vendors/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/core.js"></script>
<script type="text/javascript" src="vendors/slideSlick/js/slick.js"></script>
<script type="text/javascript" src="vendors/owl.carousel/js/owl.carousel.js"></script>
<script type="text/javascript" src="vendors/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="vendors/sticky/jquery.sticky.js"></script>
<script type="text/javascript" src="js/style.js"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','../www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-55946173-1', 'auto');
	ga('send', 'pageview');
</script>
<link rel="stylesheet" href="css/main.css" type="text/css" />
<script type="text/javascript" src="js/main.js"></script>